repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: https://github.com/PyCQA/isort
    rev: 5.9.3
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v0.910-1"
    hooks:
      - id: mypy

  - repo: https://github.com/psf/black
    rev: 21.9b0
    hooks:
      - id: black
        args: [--safe, --quiet]
        language_version: python3.8 # Should be a command that runs python3.6+

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python -m pylint --disable=W0511
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: make test
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: special_checks
        name: Special checks
        entry: make check
        language: system
        types: [python]