pylint==2.15.0
isort==5.10.1
flake8==4.0.1
mypy==0.961
pre-commit==2.19.0
pytest==7.1.2
coverage==6.4.1
pytest-cov==3.0.0
black==22.6.0
Sphinx==5.0.2
sphinx-rtd-theme==1.0.0
#requests
#numpy
#types-requests
